.field {
    -fx-background-radius: 0 !important;
}

.field--white {
    -fx-background-color: #dbcbc3;
}

.field--white:not(.field--highlight):hover {
    -fx-background-color: #ecdcd4;
}

.field--black {
    -fx-background-color: #5f2f15;
}

.field--black:not(.field--highlight):hover {
    -fx-background-color: #704026;
}

.field--active {
    -fx-background-color: #6fba4a;
}

.field--white.field--highlight {
    -fx-background-color: #56d9d7;
}

.field--black.field--highlight {
    -fx-background-color: #4abab8;
}